h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

* {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li{
    margin-bottom: 50px;
}

img {
    display: block;
    margin: auto;
}