h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    color: darkblue;
}

body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li{
    margin:50px auto;
    width: 250px;
    text-align: center;
    background-color: lightgrey;
    padding: 30px;
}

img {
    display: block;
    margin: auto;
}